*.opendb
*.suo
*.db
*.db-shm
*.db-wal
*.ipch
/Server/ac/Debug
*.res
GUITCPClient/Debug/
Server/enc_temp_folder/
Server/.vs/ProjectSettings.json
Server/.vs/slnx.sqlite
Server/.vs/VSWorkspaceState.json
